.container .back {
    display: block;
    height: 52px;
    width: 53px;
    background: url(../../resource/images/small-bg-images.png) no-repeat 0  2px;
}
.container .back:hover {
    background: url(../../resource/images/small-bg-images.png) no-repeat 0  -51px;
}




